/* setting background colour */
html {
    background-color: rgb(242, 205, 195);
  }
  
/* remove margin and padding of html */
* {
    margin: 0;
    padding: 0;
}
  
/* setting style for header */
header {
    background-color: rgb(242, 205, 195);
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    justify-content: space-between;
    flex-direction: row;
    /* stay when scrolled */
    position: fixed; 
}

/* logo width and padding depends on screen size*/  
  
/* setting navigation menu */
header >nav.menu{
    display: flex;
    flex-direction: row;
    /* margin for menu depends on screen size*/
    text-align: center;
}
  
/* seting style for the text inside the navigation menu */
header >nav.menu >a{
    z-index: 2;
    font-family: "Montserrat", sans-serif;
    font-family: "Open Sans", sans-serif;
    /* font size and line height depends on screen size */
    color: #dd545b;
    text-decoration: none;
    flex-direction: column;
}

header >nav.menu >a:hover{
    opacity: 50%;
}

/* style for the title  */
h1{
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color:#ad272ea8;
    text-transform: uppercase;
    /* font size, padding and line height depends on screen size */
    font-weight: 100;
    letter-spacing: 8px;
    position: absolute;
    z-index: 1;
}

.image-container{
    display: flex;
    justify-content: center;
    /* height depends on screen size  */
}

/* position depends on screen size  */

/* give paddings and style to address */
address{
    position: relative;
    text-transform: capitalize;
    text-align: center;
    z-index: 1;
    /* position and padding depends on screen size */
}

/* change fonts and colour of links  */
address >a{
    font-family: "Frank Ruhl Libre", serif;
    font-family: "Playfair Display", serif;  
    color: #ad272ea8 ;
    font-style: normal;
    /* font-size and line height depends on screen size */
    text-decoration: none;
    transition: all 500ms ease;
}

/* make tel font small*/
address >a.tel{
    /* font-size depends on screen size */
    text-decoration: overline;
}

address >a:hover{
    opacity: 50%;
}

address >a.tel:hover{
    font-size: smaller;
}


/* footer */
footer{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 30px 30px;
}

/* adding style to footer */
footer >nav >a{
    font-family: "Open Sans", sans-serif;
    color: rgb(224, 142, 133);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    padding-right: 30px;
    text-decoration: none;
    letter-spacing: 3px;
}

footer >nav >a:hover{
    color: #dd545b;
}

/* media query starts here */
/* Extra small devices (landscape phones, 576px and up) */
@media screen and (min-width: 200px) {
    header .logo {
        width: 40px;
        padding: 15px;
    }

    header >nav.menu{
        margin:auto 10px;
    }

    header >nav.menu >a {
        font-size: 9px;
        line-height: 15px;
        padding-right: 5px;
    }
    
    h1{
        font-size: 15px;
        padding-top:150px;
    }

    .image-container >img{
        height: auto;
        width: 260px;
        transform: translate(0px, 130px);
    }

    address {
        letter-spacing: 5px;
        transform: translate(0px,-280px);
    }

    address >a {
        font-size:28px;
        line-height:70px;
    }

    address >a.tel{
        font-size: 20px;
    }
}

/* Extra small devices (landscape phones, 576px and up) */
@media screen and (min-width: 377px) {
    header .logo {
        width: 40px;
        padding: 15px;
    }

    header >nav.menu{
        margin:auto 10px;
    }

    header >nav.menu >a {
        font-size: 10px;
        line-height: 15px;
        padding-right: 5px;
    }
    
    h1{
        font-size: 15px;
        padding-top:160px;
    }

    .image-container >img{
        height: auto;
        width: 260px;
        transform: translate(0px, 150px);
    }

    address {
        letter-spacing: 5px;
        transform: translate(0px,-250px);
    }

    address >a {
        font-size:35px;
        line-height:70px;
    }

    address >a.tel{
        font-size: 20px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 458px) {
    header .logo {
        width: 50px;
        padding: 15px;
    }
    
      header >nav.menu{
        margin:auto 15px;
    }
    
      header >nav.menu >a {
        font-size: 15px;
        line-height: 20px;
        padding-right: 10px;
    }
    
    h1{
        font-size: 20px;
        padding-top:200px;
    }

    .image-container >img{
        height: auto;
        width: 380px;
        transform: translate(0px, 150px);
    }

    address {
        letter-spacing: 7px;
        transform: translate(0px,-400px);
    }

    address >a {
        font-size:42px;
        line-height:80px;
    }

    address >a.tel{
        font-size: 20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    header .logo {
        width: 60px;
        padding: 30px;
    }
    
      header >nav.menu{
        margin:auto 20px;
    }
    
      header >nav.menu >a {
        font-size: 18px;
        line-height: 30px;
        padding-right: 20px;
    }
    
    h1{
        font-size: 20px;
        padding-top:200px;
    }

    .image-container >img{
        height: auto;
        width: 400px;
        transform: translate(0px, 150px);
    }

    address {
        letter-spacing: 7px;
        transform: translate(0px,-360px);
    }

    address >a {
        font-size:40px;
        line-height:100px;
    }

    address >a.tel{
        font-size: 30px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header .logo {
        width: 60px;
        padding: 30px;
    }
    
      header >nav.menu{
        margin:auto 20px;
    }
    
      header >nav.menu >a {
        font-size: 18px;
        line-height: 30px;
    }

    h1{
        font-size: 20px;
        padding-top:200px;
    }

    .image-container >img{
        height: auto;
        width: 400px;
        transform: translate(0px, 150px);
    }

    address {
        letter-spacing: 8px;
        transform: translate(0px,-360px);
    }

    address >a {
        font-size:50px;
        line-height:100px;
    }

    address >a.tel{
        font-size: 30px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    header .logo {
        width: 70px;
        padding: 30px;
    }
    
    header >nav.menu{
        margin:auto 20px;
    }
    
    header >nav.menu >a {
        font-size: 18px;
        line-height: 30px;
    }

    h1{
        font-size: 20px;
        padding-top:200px;
    }

    .image-container >img{
        height: auto;
        width: 400px;
        transform: translate(0px, 150px);
    }

    address {
        letter-spacing: 8px;
        transform: translate(0px,-360px);
    }

    address >a {
        font-size:50px;
        line-height:100px;
    }

    address >a.tel{
        font-size: 30px;
    }
}

