/* setting background colour */
html {
    background-color:#FFEAE2;
}

/* remove margin and padding of html */
* {
    margin: 0;
    padding: 0;
}

/* setting style for header */
header {
    background-color:#FFEAE2;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    justify-content: space-between;
    flex-direction: row;
    /* stay when scrolled */
    position: fixed; 
}

/* logo width and padding depends on screen size*/
  
/* setting navigation menu */
header >nav.menu{
    display: flex;
    flex-direction: row;
    /* margin for menu depends on screen size*/
    text-align: center;
}

/* seting style for the text inside the navigation menu */
header >nav.menu >a{
    z-index: 3;
    font-family: "Montserrat", sans-serif;
    font-family: "Open Sans", sans-serif;
     /* font size and line height depends on screen size */
    color: rgb(221, 84, 91);
    /* remove underline */
    text-decoration: none;
    flex-direction: column;
}

/* decrease opacity when hovered */
header >nav.menu >a:hover{
    opacity: 50%;
}

/* setting style for text of the h1 */
h1 {
    margin: 0px;
    /* padding differs according to screen size */
    /* font size differs according to screen size */
    opacity: 10%;
    letter-spacing: 5px;
    font-family: "Frank Ruhl Libre", serif;
    font-family: "Playfair Display", serif;
    color: rgb(221, 84, 91);
    text-transform: uppercase;
    text-align: center;
    /* reset thickness of title since it's h1 */
    font-weight: 100;
}

/* using flexbox  */
main{
    display: flex;
    flex-direction: column;
}

/* parent element for education  */
main .education{
    /* width, height and padding depends on screen size */
    background-color: #fff;
    align-self: center;
}

/* style for year of education */
main .education >h2{
    text-align: center;
    font-family: "Frank Ruhl Libre", serif;
    font-family: "Playfair Display", serif;
    color:rgb(221,84,91);
    font-weight: 100;
    padding-bottom: 20px;
}

/* style for name of school */
main .education >h3{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color:rgb(163, 45, 50);
    font-weight: 100;
    text-transform: capitalize;
    text-decoration: underline;
    padding-bottom:20px;
}

/* style for skills list */
main .education >ol.skills{
    text-align: center;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    color:rgb(221,84,91);
    font-size: 15px;
    padding-bottom:20px;
    letter-spacing: 1px;
}

/* style for paragraph */
main .education >p{
    text-align: center;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    color:rgb(221,84,91);
    font-size: 15px;
    letter-spacing: 1px; 
    padding: 0px 15px;
}

/* give extra padding in between boxes*/
main >p.padding{
    padding:30px;
}

/* footer*/
footer{
    display: flex;
    flex-wrap: wrap;
    /* bottom and left padding */
    padding: 0 0 30px 30px;
}

/* footer links */
footer >nav >a{
    font-family: "Open Sans", sans-serif;
    color:rgb(221, 84, 91);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    padding-right: 30px;
    text-decoration: none;
    letter-spacing: 3px;
}

/* decrease opacity when hovered */
footer >nav >a:hover{
    opacity: 50%;
}

/* media query starts here */
/* Extra small devices (phones, 200px and up) */
@media screen and (min-width: 200px) {
    header .logo {
        width: 40px;
        padding: 15px;
    }

    header >nav.menu{
        margin:auto 10px;
    }

    header >nav.menu >a {
        font-size: 9px;
        padding-right: 5px;
    }

    h1 {
        font-size:39px;
        padding: 150px 10px;
    }

    main .education{
        width: 250px;
        height: 700px;
    }

    main .education >h2{
        font-size: 40px;
    }

    main .education >h3{
        font-size: 17px;
    }

    main .education >ol.skills{
        line-height: 40px;
    }
}

/* Small devices (phones, 377px and up) */
@media screen and (min-width: 377px) {
    header .logo {
        width: 40px;
        padding: 15px;
    }

    header >nav.menu{
        margin:auto 10px;
    }

    header >nav.menu >a {
        font-size: 10px;
        padding-right: 5px;
    }

    h1 {
        font-size:55px;
        padding: 150px 10px;
        padding-bottom: 100px;
    }

    main .education{
        width: 400px;
        height: 530px;
    }

    main .education >h2{
        font-size: 40px;
    }

    main .education >h3{
        font-size: 20px;
    }

    main .education >ol.skills{
        line-height: 40px;
    }
}

/* Small devices (phones, 458px and up) */
@media screen and (min-width: 458px) {
    header .logo {
        width: 50px;
        padding: 15px;
    }
    
    header >nav.menu{
        margin:auto 15px;
    }
    
    header >nav.menu >a {
        font-size: 15px;
        padding-right: 10px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    header .logo {
        width: 50px;
        padding: 15px;
    }

    header >nav.menu{
        margin:auto 15px;
    }

    header >nav.menu >a {
        font-size: 15px;
        padding-right: 5px;
    }

    h1 {
        font-size:90px;
        padding: 200px 10px;
    }

    main .education{
        width: 550px;
        height: 520px;
    }

    main .education >h2{
        font-size: 50px;
    }

    main .education >h3{
        font-size: 20px;
    }

    main .education >ol.skills{
        line-height: 40px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	header .logo {
        width: 60px;
        padding: 30px;
    }

    header >nav.menu{
        margin:auto 20px;
    }

    header >nav.menu >a {
        font-size: 18px;
        padding-right: 20px;
    }

    h1 {
        font-size:120px;
        padding: 200px 10px;
    }	
    
    main .education{
        width: 700px;
        height: 480px;
    }

    main .education >h2{
        font-size: 60px;
    }

    main .education >h3{
        font-size: 20px;
    }

    main .education >ol.skills{
        line-height: 40px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	header .logo {
        width: 60px;
        padding: 30px;
    }

    header >nav.menu{
        margin:auto 20px;
    }

    header >nav.menu >a {
        font-size: 18px;
    }

    h1 {
        font-size:160px;
        padding: 150px 10px;
    }	
    
    main .education{
        width: 700px;
        height: 450px;
    }

    main .education >h2{
        font-size: 60px;
    }

    main .education >h3{
        font-size: 20px;
    }

    main .education >ol.skills{
        line-height: 40px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	header .logo {
        width: 70px;
        padding: 30px;
    }

    header >nav.menu{
        margin:auto 20px;
    }

    header >nav.menu >a {
        font-size: 18px;
    }

    h1 {
        font-size:180px;
        padding: 150px 10px;
    }	
    
    main .education{
        width: 800px;
        height: 450px;
    }

    main .education >h2{
        font-size: 60px;
    }

    main .education >h3{
        font-size: 20px;
    }

    main .education >ol.skills{
        line-height: 40px;
    }
}
