/* setting background colour */
html {
    background-color: rgb(237,237,232);
}
  
/* remove margin and padding of html */
* {
    margin: 0;
    padding: 0;
}
  
/* setting style for header */
header {
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    justify-content: space-between;
    flex-direction: row;
    /* stay when scrolled */
    position: fixed; 
}
  
/* setting navigation menu */
header >nav.menu{
    display: flex;
    flex-direction: column;
    text-align: center;
}
  
header >nav.menu >a{
    z-index: 2;
    font-family: "Montserrat", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #dd545b;
    text-decoration: none;
    flex-direction: column;
}