/* setting background colour */
html {
  background-color: #FFEAE2;
}

/* remove margin and padding of html */
* {
  margin: 0;
  padding: 0;
}

/* setting style for header */
header {
  background-color: #FFEAE2;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
  justify-content: space-between;
  flex-direction: row;
  /* stay when scrolled */
  position: fixed; 
}

/* logo width and padding depends on screen size*/

/* setting navigation menu */
header >nav.menu{
  display: flex;
  flex-direction: row;
  /* margin for menu depends on screen size*/
  text-align: center;
}

/* links for header */
header >nav.menu >a{
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  /* font size and line height depends on screen size */
  color: #dd545b;
  /* remove underline */
  text-decoration: none;
  flex-direction: column;
}

header >nav.menu >a:hover{
  opacity: 50%;
}

/* style for h1 title */
h1 {
  margin: 0px;
  z-index: 1;
  padding-top:150px;
  /* font size differs according to screen size */
  letter-spacing: 5px;
  font-family: "Frank Ruhl Libre", serif;
  font-family: "Playfair Display", serif;
  color: #dd545b;
  opacity: 10%;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-weight: 100;
  position: fixed;
}

/* creating flexbox for projects */
.projects{
  z-index: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  /* padding top in mediaqueries */
}

/* picture size and margin depends on screen size */

/* footer flexbox and padding */
footer{
  display: flex;
  flex-wrap: wrap;
  /* bottom and left padding */
  padding: 0 0 30px 30px;
  position: absolute
}

/* style for each links in footer */
footer >nav >a{
  font-family: "Open Sans", sans-serif;
  color: rgb(224, 142, 133);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding-right: 30px;
  text-decoration: none;
  letter-spacing: 3px;
}

footer >nav >a:hover{
  color: #dd545b;
}

/* media query starts here */
/* Extra small devices (landscape phones, 576px and up) */
@media screen and (min-width: 200px) {
  header .logo {
      width: 40px;
      padding: 15px;
  }

  header >nav.menu{
      margin:auto 10px;
  }

  header >nav.menu >a {
      font-size: 9px;
      padding-right: 5px;
  }

  h1{
    font-size:50px;
  }

  .projects{
    padding-top: 200px;
  }

  .projects .photo-container >img{
    width: 250px;
    padding: 50px 10px;
  }
}

@media screen and (min-width: 377px) {
  header .logo {
      width: 40px;
      padding: 15px;
  }

  header >nav.menu{
      margin:auto 10px;
  }

  header >nav.menu >a {
      font-size: 10px;
      padding-right: 5px;
  }

  h1{
    font-size:60px;
  }

  .projects{
    padding-top: 200px;
  }

  .projects .photo-container >img{
    width: 350px;
    padding: 50px 10px;
  }
}

@media screen and (min-width: 458px) {
  header .logo {
    width: 50px;
    padding: 15px;
  }

  header >nav.menu{
    margin:auto 15px;
  }

  header >nav.menu >a {
    font-size: 15px;
    padding-right: 10px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  header .logo {
    width: 50px;
    padding: 15px;
  }

  header >nav.menu{
      margin:auto 15px;
  }

  header >nav.menu >a {
      font-size: 15px;
      padding-right: 10px;
  }

  h1{
    font-size:110px;
  }

  .projects{
    padding-top: 250px;
  }

  .projects .photo-container >img{
    width: 500px;
    padding: 80px 10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header .logo {
    width: 60px;
    padding: 30px;
  }

  header >nav.menu{
      margin:auto 20px;
  }

  header >nav.menu >a {
      font-size: 18px;
      padding-right: 20px;

  }

  h1{
    font-size:140px;
  }

  .projects{
    padding-top: 300px;
  }

  .projects .photo-container >img{
    width: 600px;
    padding: 80px 10px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header .logo {
    width: 60px;
    padding: 30px;
  }

  header >nav.menu{
      margin:auto 20px;
  }

  header >nav.menu >a {
      font-size: 18px;
  }

  h1{
    font-size:200px;
  }

  .projects{
    padding-top: 400px;
  }

  .projects .photo-container >img{
    width: 800px;
    padding: 100px 10px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header .logo {
    width: 70px;
    padding: 30px;
  }

  header >nav.menu{
      margin:auto 20px;
  }

  header >nav.menu >a {
      font-size: 18px;
  }

  h1{
    font-size:200px;
  }

  .projects .photo-container >img{
    width: 800px;
    padding: 100px 10px;
  }
}
