/* setting background colour */
html {
    background-color: rgb(242, 205, 195);
  }
  
/* remove margin and padding of html */
* {
  margin: 0;
  padding: 0;
}

/* setting style for header */
header {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
  justify-content: space-between;
  flex-direction: row;
  /* stay when scrolled */
  position: fixed; 
}

/* setting navigation menu */
header >nav.menu{
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* seting style for the text inside the navigation menu */
header >nav.menu >a{
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #dd545b;
  text-decoration: none;
  flex-direction: column;
}

/* setting style for title -parent element */
.title {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  flex-direction: column;
  text-align: center;
}

/* setting style for text of the h1 */
.title >h1 {
  font-size: 90px;
  letter-spacing: 5px;
  font-family: "Frank Ruhl Libre", serif;
  font-family: "Playfair Display", serif;
  color: #dd545b;
  text-transform: capitalize;
  text-align: center;
  font-weight: 100;
  padding-bottom: 20px;
}

/* setting style for text of the h2 */
.title >h2 {
  font-size: 20px;
  letter-spacing: 10px;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #dd545b;
  text-transform: uppercase;
  font-weight: 100;
}

/* about me section -parent element */
.about-me {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* picture */
.about-me .dev-routine {
  padding-top: 3rem;
  width: 65%;
}

/* description of myself */
.about-me >p.description{
  text-align: center;
  /* padding: 80px 130px; */
  font-family: "Playfair Display", serif;
  color: rgb(227,163,156);
  /* font-size: 50px; */
  justify-content: center;
}

/* skills title*/
.about-me >h3{
  font-family: "Playfair Display", serif;
  color: #dd545b;
  /* font-size: 50px; */
  font-weight: 100;
}

/* list of skills */
.about-me >ol.skills{
  font-family: "Open Sans", sans-serif;
  color: #dd545b;
  text-transform: uppercase;
  /* font-size: 30px; */
  text-align: center;
  padding: 30px;
  letter-spacing: 5px;
  /* line-height: 100px; */
  list-style-type: none;
  text-decoration: underline;
}

/* contact-me portion parent element */
.contact{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* title for contact */
.contact >h3{
  font-family: "Open Sans", sans-serif;
  color: rgb(227,163,156);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 8px;
  padding: 100px;
}

/* links for my contacts */
.contact >address{
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* links for my contacts */
.contact >address >a{
  font-family: "Open Sans", sans-serif;
  color: rgb(227,163,156);
  font-style: normal;
}

/* style for email */
.contact >address >a.mail{
  line-height: 50px;
}





